/*=============== STYLE ==============*/

html,
body {
    height: 100%;
    font-family: Arial;
}

.padding-zero {
    padding-left: 0;
    padding-right: 0;
}

.clear-fix {
    clear: both;
    content: "";
    display: block;
}


/*============== COVER ===============*/

.container {
    padding-left: 0;
    padding-right: 0;
}

#cover {
    height: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#cover .header-topbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    position: relative;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar>.container {
    padding-left: 15px;
}

#cover .header-topbar .container>ul {
    margin-bottom: 0;
    padding: 0;
}

#cover .header-topbar .container>ul>li {
    float: right;
    list-style: none;
}

#cover .header-topbar .container .pull-left>li>a {
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar .container .pull-right .dropdown-menu {
    margin: 0;
    min-width: 140px;
    background-color: #fff;
    border: none;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a {
    color: #1d1d1d;
    font-size: 13px;
    padding: 3px 15px;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a:hover {
    color: #00bd61;
    background-color: transparent;
}

#cover .header-topbar .container>ul>li>a {
    color: #f0f0f0;
    padding: 10px 15px;
    display: block;
    font-size: 13px;
}

#cover .header-topbar .container ul li a i {
    width: 20px;
    text-align: center;
}

#cover .header-topbar .container>ul>li>a:hover,
#cover .header-topbar .container>ul>li>a:focus {
    color: #00e974;
    text-decoration: none;
}

#cover .header-topbar ul>li>span.rot {
    color: #f0f0f0;
    padding: 9px 0;
    display: block;
}


/*================ MENU ================*/

.navbar {
    min-height: 40px;
    margin-bottom: 30px;
    border: 3px solid transparent;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
    padding: 30px;
    font-size: 30px;
    letter-spacing: 2px;
    font-style: italic;
    height: 80px;
}

#mainNav .nav>li>a {
    padding: 30px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00e974;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #00e974;
    background-color: transparent;
}

.navbar-nav li a i {
    width: 20px;
}

.top-menu li a i {
    width: 14px;
    margin-right: -1px;
}

.main-menu li a i {
    width: 14px;
    margin-right: 5px;
}

.dropdown-menu>li>a:hover {
    color: #00e974;
    background-color: transparent;
}

#mainNav .dropdown-menu {
    margin: 1px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    min-width: 190px;
}

#mainNav .dropdown-menu>li>a {
    color: #f0f0f0;
    font-size: 13px;
    padding: 5px 16px;
}

#mainNav .dropdown-menu>li>a:hover {
    color: #00e974;
}

.modal-body {
    font-size: 15px;
}


/*=========== LEFT SIDE ============*/


/* IMAGE */

.profile-side .profile-img .image {
    width: 100%;
    max-width: 262px;
    height: 262px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: block;
    margin-top: -198px;
    margin-bottom: 30px;
}

.profile-side .profile-img {
    position: relative;
}

.profile-side .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.733);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 0 0 4px 4px;
}

.profile-side .profile-img:hover .overlay {
    height: 27%;
}

.profile-side .text {
    white-space: nowrap;
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.profile-side .text a {
    color: #fff;
}

.profile-side .text a:hover {
    text-decoration: none;
}

.profile-side .text a i {
    width: 20px;
    margin-right: 10px;
    font-size: 18px;
}

.profile-side hr {
    border-top: 1px solid #e0e0e0;
}

.profile-side button {
    padding: 3px 10px 5px;
    position: absolute;
    right: 25px;
    top: 10px;
    color: #fff;
    border: transparent;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
}

.profile-side button:hover i:before {
    content: "Cập nhật ảnh đại diện \f030";
}

.profile-side button:hover,
.profile-side button:focus {
    background-color: rgba(0, 0, 0, 0.589);
    outline: transparent;
}


/* INFO */

.profile-side .level-info {
    padding: 15px;
    border: 1px solid #00bd61;
    margin-bottom: 30px;
    border-radius: 4px;
}

.profile-side .level-info h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
}


/* BUTTON CREATE POST */

.profile-side .btn-post a {
    color: #fff;
    font-size: 18px;
    padding: 17px 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.profile-side .btn-post a:hover {
    text-decoration: none;
}

.profile-side .btn-post a i {
    width: 30px;
    text-align: center;
}

.profile-side .btn-post .btn-create-post {
    border: 1px solid #d9534f;
    background-color: #d9534f;
    margin-bottom: 20px;
}

.profile-side .btn-post .btn-create-post:hover {
    border: 1px solid #00bd61;
    background-color: #00bd61;
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.profile-side .btn-post .btn-create-post:focus {
    outline: none;
    text-decoration: none;
}


/* BUTTON CREATE TOUR */

.profile-side .btn-tour a {
    color: #fff;
    font-size: 18px;
    padding: 17px 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.profile-side .btn-tour a:hover {
    text-decoration: none;
}

.profile-side .btn-tour a i {
    width: 30px;
    text-align: center;
}

.profile-side .btn-tour .btn-create-tour {
    border: 1px solid #1167e2;
    background-color: #1167e2;
    margin-bottom: 20px;
}

.profile-side .btn-tour .btn-create-tour:hover {
    border: 1px solid #00bd61;
    background-color: #00bd61;
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.profile-side .btn-tour .btn-create-tour:focus {
    outline: none;
    text-decoration: none;
}


/* CALENDAR */

.calendar {
    margin-top: 30px;
    margin-bottom: 50px;
}

.calendar>table {
    border-color: transparent;
}

.calendar tbody>tr>td td {
    border: 1px solid #00ca67;
    border-collapse: collapse;
}

.calendar tbody>tr>td td {
    width: 37px;
}

.calendar tbody>tr>td td>table {
    width: 100%;
}

.calendar tbody>tr>td td>table tr td b {
    color: red;
}

.calendar tbody>tr>td td center {
    padding: 3px 5px;
}


/*============= RESPONSIVE =============*/

@media only screen and (max-width: 1200px) {
    .calendar {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .profile-side {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-toggle {
        padding: 9px 13px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 8px;
        border: none;
        color: rgb(228, 228, 228);
    }
    .navbar-toggle i {
        font-size: 22px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
}

@media only screen and (max-width: 520px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    #cover .header-topbar>.container {
        padding-left: 0;
    }
    .navbar-brand {
        padding: 25px 15px;
    }
    .navbar-brand {
        height: 70px;
    }
    .sub-menu {
        display: none;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #717171;
    }
    #mainNav .dropdown-menu {
        border: none;
        border-radius: 0 !important;
    }
    #mainNav .nav>li>a {
        padding: 3px 20px;
        font-size: 12px;
    }
    #mainNav .dropdown-menu>li>a {
        font-size: 12px;
        padding: 2px 43px;
    }
}